#container
  #header
    %h1 pironimo
  #sidebar
    %ul
      %li 
        %a(href='#') Nav #1
      %li 
        %a(href='#') Nav #2
      %li 
        %a(href='#') Nav #3
  #content
    %p
      Lorizzle ipsum crazy sit amet, consectetuer the bizzle elit. Nullam shiznit velizzle, shizzlin dizzle volutpizzle, suscipizzle stuff, gravida izzle, dang. Pellentesque gizzle tortizzle. Sizzle eros. Black izzle dolor stuff yo mamma tempizzle pot. Maurizzle sheezy nibh dawg turpizzle. Vestibulum izzle tortor. Pellentesque shit rhoncizzle nisi. In hizzle habitasse platea dictumst. Own yo' dapibizzle. You son of a bizzle sizzle yippiyo, pretizzle mammasay mammasa mamma oo sa, dizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle, eleifend vitae, nunc. Bizzle suscipit. Integizzle sempizzle get down get down boofron.
  #footer
    This is the footer.